*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
    
}

body{
    background-color: white;
}

#ulist{
    display: flex;

}

#ulist li{
    list-style: none;
    margin: 31px 50px;
}

#ulist li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#ulist li a:hover{
    text-decoration: underline;
    color: rgb(130, 123, 123);
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 91px;
    box-shadow: 1px 1px 1px grey;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid gray;
}

#navbar img{
    width: 243px;
    height: 253px;
    margin: -84px 0px;
}

#red{
    background-color: red;
    width: 100%;
    height: 52px;
}



.wrapper{

    height: 38rem;
    width: 18rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
    

}

#wrapper-1 img{
    height: 21rem;
    width: 16rem;
}
#wrapper-2 img{
    height: 21rem;
    width: 17rem;
}

#wrapper-3 img{
    height: 21rem;
    width: 17rem;
}
#container-1{

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 187, 187, 0.73);
    height: 17rem;
    height: 19rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#box-1 img{

    height: 93px;
    width: 70px;
}

#container-1-1{

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#container-1-2{

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#container-1-3{

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#wrapper-4 img{
    height: 19rem;
}

#wrapper-5 img{
    height: 19rem;
    width: 9rem;
}

#wrapper-5{
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper-6 img{
    height: 19rem;
    width: 18rem;
}
#wrapper-7 img{
    height: 19rem;
    width: 18rem;
}
#wrapper-8 img{
    height: 19rem;
    width: 18rem;
}
#wrapper-9 img{
    height: 19rem;
    width: 9rem;
}
#wrapper-10 img{
    height: 19rem;
    width: 17rem;
}
#wrapper-11 img{
    height: 19rem;
    width: 17rem;
}
#wrapper-12 img{
    height: 19rem;
    width: 17rem;
}


#wrapper-9{

    display: flex;
    justify-content: center;
    align-items: center;
}

.under:hover{

    text-decoration: underline;
}


#img-108{
    
    background: aliceblue;

}

#zishu{

    cursor: pointer;

}
